body {
    background-color: #fff;
}

/* Regiseration Form */

CSS
.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.form-control-lg {
  font-size: 15px !important;
}
#sign-up input, #sign-up input:focus {
  background-color: #2dc997;
  border-color: #2dc997;
  font-size: 14px;
}
#sign-in input, #sign-in input:focus {
  background-color: #2dc997;
  border-color: #2dc997;
  font-size: 14px;
 
}
#sign-in a, #sign-up a {
  color: #2dc997;
  text-decoration: none;
  font-size: 12px;
}
#sign-in span, #sign-up span{
  font-size: 12px;
}
#reset a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(135, 136, 136);
}
#reset a:hover {
  font-size: 13px;

}
.auth-form-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.auth-form-area .img-up{
  width: 320px;
  height: 200px;
}
.auth-form-area img{
  width: 200px;
  height: 200px;
}
.asterisk{
  color: rgb(233, 92, 67);
}
.login-pass{
  position: relative;
}
#togglePassword{
  color: #77c9af;
  position: absolute;
  top: 39px;
  right: 15px;
  cursor: pointer;
}
input:focus{
  border: 1px solid #2dc997 !important;
}
.forget-label{
  font-weight: bold;
}