.form-control:focus {
    box-shadow: none;
    border: #2dc997;
}

.profile-button {
    background: white;
    box-shadow: none;
   border: 1px solid #2dc997;
    color: #2dc997;
}

.profile-button:hover {
    background: #2dc997;
    color: white;
}

.profile-button:focus {
    background: #2dc997;
    box-shadow: none
}

.profile-button:active {
    background: #2dc997;
    box-shadow: none
}

.back:hover {
    color: #2dc997;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #2dc997;
    color: #fff;
    cursor: pointer;
    border: solid 1px #2dc997
}
.gender {
    margin-top: 25px;
}
.edit-profile {
    padding: 8px 21px;
    border: 1px solid #2dc997;
    color: #2dc997;
    text-decoration: none;
    border-radius: 3px;
}
.edit-profile:hover {
    padding: 10px 23px;
    color: white;
    background-color: #2dc997;
}
.logo{
    color: #2dc997 !important;
}
.balance {
    text-decoration: underline;
    font-size: 25px;
}
.copy-right {
    color: white;
}
.footer-link, .footer-link:hover{
    color: #2dc997;
}
input:focus{
    border: 1px solid #2dc997 !important;
}