<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_settings1.css') }}">
    
    <title>Profile Settings</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light container-fluid" style="background-color: rgb(80,80,80) !important;">
        <div class="container">
          <a class="navbar-brand logo" href="/">Home</a>
          <a href="/user/profile" style="text-decoration: none;"><span class="logo"> {{ current_user.username.upper() }}</span></a>
          
        </div>
      </nav>
<div style="min-height: 88vh;">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="{{ url_for('static', filename='img/ceo.png') }}" alt="profile picture">
                    <span class="font-weight-bold">{{ user.username }}</span>
                    <span class="text-black-50"><span> {{ user.email }} </span>
                </div>
            </div>
                <div class="col-md-7 border-right">
                    <div class="message_area">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        {% if category == 'error' %}

                        <div class="alert alert-danger alter-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close float-right" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                        {% else %}
                        <div class="alert alert-success alter-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close float-right" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>

                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                    </div>
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <h4 class="text-right">{{ user.fullname }} </h4>
                        </div>
                        <form action="/admin/update-user/" method="POST">
                            {{ form.csrf_token() }}
                            <div class="row mt-3">
                                <div class="col-md-12 mt-3">
                                    {{ form.fullname.label(class="labels") }}
                                    {{ form.fullname(class="form-control") }}
                                    {% if  form.fullname.errors %}
                                        {% for err in  form.fullname.errors %}
                                            <p class="text-danger" style="font-size: 12px;">{{ err }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-md-12 mt-3">
                                    {{ form.username.label(class="labels") }}
                                    {{ form.username(class="form-control") }}
                                    {% if  form.username.errors %}
                                        {% for err in  form.username.errors %}
                                            <p class="text-danger" style="font-size: 12px;">{{ err }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-md-12 mt-3">
                                    {{ form.email.label(class="labels") }}
                                    {{ form.email(class="form-control") }}
                                    {% if  form.email.errors %}
                                        {% for err in  form.email.errors %}
                                            <p class="text-danger" style="font-size: 12px;">{{ err }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-md-12 mt-3">
                                    {{ form.phone.label(class="labels") }}
                                    {{ form.phone(class="form-control") }}
                                    {% if  form.phone.errors %}
                                        {% for err in  form.phone.errors %}
                                            <p class="text-danger" style="font-size: 12px;">{{ err }}</p>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                                <div class="col-md-12 mt-3" style="margin-top: 25px;">
                                    {{ form.gender.label(class="labels") }}:
                                    {% for option in form.gender %}
                                    <div class="form-check form-check-inline">
                                        {{ option }} {{option.label}}
                                    </div>
                                    {% endfor %}

                                </div>
                                <div class="col-md-12 mt-3">
                                    {{ form.birth_date.label(class="labels") }}
                                    {{ form.birth_date(class="form-control") }}
                                    {% if  form.birth_date.errors %}
                                        {% for err in  form.birth_date.errors %}
                                            <p class="text-danger" style="font-size: 12px;">{{ err }}</p>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                                {% if current_user.role == 'admin' %}
                                <div class="col-md-12 mt-3">
                                    {{ form.role.label(class="labels") }}
                                    {{ form.role(class="form-control") }}

                                </div>
                                    {{ form.uid() }}
                                {% endif %}
                                
                            </div>
                            <div class="mt-5">
                                {{ form.submit(class="btn profile-button", value="Save Profile") }}
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    </div>
    </div>
</div> 
<footer class="text-center" style="background-color: rgb(104, 104, 104);">  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <span class="copy-right"> © 2022 Copyright:</span>
    <a class="footer-link" href="/">Banking System</a>
    </div>
    <!-- Copyright -->
</footer> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>