{% extends 'transaction_layout.html' %}

{% block pagetitle %} Transfer {% endblock %}

{% block trans_title %} Transfer money from your account {% endblock %}

{% block trans_body %}

<form action="" method="post">
    <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline mb-2">
            {{ form.amount.label(class="form-label", for="amount") }}
            {{ form.amount(class="form-control form-control-lg",id="amount") }}
          </div>

          <div class="form-outline mb-2">
            {{ form.account_no.label(class="form-label", for="amount") }}
            {{ form.account_no(class="form-control form-control-lg",id="amount") }}
          </div>

          <div class="form-outline">
            {{ form.password.label(class="form-label", for="password") }}
            {{ form.password(class="form-control form-control-lg",id="password") }}
          </div>


        </div>
        <div class="col-md-3 mt-4 text-center">
          <div class="">
            <strong>Current balance:</strong>
            <b style="color:#2dc997; font-weight:1000;">{{ balance }}Af</b>
            
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
              {{ form.submit(class="btn btn-trans",id="transfer", value="Transfer") }}
            </div>
        </div>
    </div>
</form>

{% endblock %}