{% extends 'transaction_layout.html' %}

{% block pagetitle %} Transfer {% endblock %}

{% block trans_title %} Transfer money from your account {% endblock %}

{% block trans_body %}

<form action="" method="post">
  {{ form.csrf_token() }}
  <div class="row">
      <div class="col-md-6 mb-2">
        {{ form.amount.label(class="form-label", for="amount") }}
        {{ form.amount(class="form-control form-control-lg",id="amount") }}
        {% if form.amount.errors %}
        {% for err in form.amount.errors %}
          <p class="text-danger" style="font-size: 12px;">{{ err }}</p>
        {% endfor %}
        {% endif %}
      </div>

      <div class="col-md-6 mb-2">
        {{ form.account_no.label(class="form-label", for="amount") }}
        {{ form.account_no(class="form-control form-control-lg",id="amount") }}
        {% if form.account_no.errors %}
        {% for err in form.account_no.errors %}
          <p class="text-danger" style="font-size: 12px;">{{ err }}</p>
        {% endfor %}
        {% endif %}
      </div>

      <div class="col-md-6">
        {{ form.password.label(class="form-label", for="password") }}
        {{ form.password(class="form-control form-control-lg",id="password") }}
        {% if form.password.errors %}
        {% for err in form.password.errors %}
          <p class="text-danger" style="font-size: 12px;">{{ err }}</p>
        {% endfor %}
        {% endif %}
      </div>


    </div>
  <div class="row mt-2">
    <div class="col-md-6 mb-4">
        {{ form.submit(class="btn btn-trans",id="transfer", value="Transfer") }}
    </div>
  </div>
</form>

{% endblock %}