<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Users</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/users_list.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
// $(document).ready(function(){
//     $('[data-toggle="tooltip"]').tooltip();
// });
</script>
</head>
<body>
<div class="container-fluid">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Manage <b>Users</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href="/" class="btn btn-secondary"> <span>Back To Home</span></a>						
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    {% if users %}
                    <tr>
                        <th>#</th>
                        <th>Fullname</th>						
                        <th>Username</th>
                        <th>Account No.</th>
                        <th>Gender</th>
                        <th>Role</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Date of Birth</th>
                        <th>State</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    {% for user in users %}
                    
                <tbody>
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.username }}</td>
                        {%if user.role != 'normal' %}
                        <td>{{ user.account_no }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>{{ user.gender }}</td>
                        <td>
                            {% if user.role == 'admin' %}
                            Admin
                            {% elif user.role == 'sysuser' %}
                            System User
                            {% else %}
                            Customer
                            {% endif %}
                        </td>                        
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.birth_date }}</td>
                        <td>
                            {% if user.role != 'admin' and user.state == False %}
                            <a class="state-pending" href="/update-state/{{ user.id }}">Active</a>
                            {% elif user.state == True and user.role != 'admin' %}
                            <a class="state-active" href="/update-state/{{ user.id }}">Pending</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="/profile-settings/{{ user.id }}" class="settings" title="Settings"><i class="material-icons">&#xE8B8;</i></a>
                            <a href="/delete/{{ user.id }} " class="delete" title="Delete"><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
            {% else %}
            <span class="success"><h3>No User Register Yet</h3></span>
            {% endif %}
        </div>
    </div>
</div>     
</body>
</html>